.leftInput {
  position: absolute;
  left: 30%;
}

.rightInput {
  position: absolute;
  left: 60%;
}

.left {
  position: relative;
  list-style-type: none;
}

.right {
  position: relative;
  list-style-type: none;
}
